<html>
<head>
<title>
    <%= title%>
</title>
<link rel="stylesheet" href="/css/layout.css ">
<%= style %> 
<!--putting it at botton because individual page style overrides -->
</head>
<body>


<%- include('_header'); %>
<%- body %>
<%- include('_footer'); %>


<%= script %>
</body>

</html>